* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS';
    background-color: #f9f9ff;
    color: #777;
}

.container {
    max-width: 66.66667%;
    margin: auto;
    position: relative;
    min-height: 1px;
    overflow: hidden;
}

.header {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
}

.header a {
    text-decoration: none;
    color: #777;
}

.single-input {
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    padding-left: 20px;
    margin: 5px 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price input {
    width: 19%;
}

.countCateg input {
    width: 47.5%;
}

.btnFormat {
    color: #fff;
    /* border: 1px solid #4cd3e3; */
    background: #384252;
    /* line-height: 30px; */
    /* line-height: 120px; */
    padding: 11px 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    /* transition: all 0.3s ease 0s; */
}

.btnFormat::before {
    content: 'Total($): ';
}

button {
    width: 100%;
    color: #fff;
    background: #0d7dd9;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 11px 20px;
    font-size: 14px;
    text-decoration: none;
    margin: 5px 0;
}

.searchButtons button {
    width: 49.4%;
}

table {
    width: 100%;
    border-spacing: 0;
    border: none;
    margin: 5px 0;
}

table th {
    background-color: #384252;
    padding: 10px 12px;
    text-align: left;
    color: #fff;
}

table td {
    padding: 10px 12px;
    text-align: left;

}

table tr:nth-child(even) {
    background: #eaeaea;
}

table tr button {
    padding: 5px;
    margin: 0;
}

.cust-td::after {
    content: ' $';
}